<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">

p, h1, h2, h3, h4, h5, h6 {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* Default weight for all */
  font-style: normal;
}

h1 {
  font-weight: 700; /* Bold */
}

h2 {
  font-weight: 600; /* Semi-bold */
}

